django==2.2.24
mysqlclient==1.4.6
python-memcached==1.59
python-ldap==3.1.0
pyodbc==4.0.28
python-ldap==3.4.0
pycryptodome==3.9.4
cryptography==3.4.8
requests==2.23.0
wemake-python-styleguide==0.13.3
