<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% autoescape off %}
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Emergency Contact Information</title>
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="robots" content="noindex, nofollow" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="/static/emergency/js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
    <script src="/static/emergency/js/index.js" type="text/javascript"></script>
    {% block extra_javascript %}{% endblock %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/emergency/css/index.css" />
    {% block extra_style %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
{% endautoescape %}
